
@{
    ViewBag.Title = "CIS";
}



<div class="jumbotron">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <h5>Informações osbre o CIS</h5>
                </div>
                <div class="col-sm">
                    <div class="AlignRight">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="breadcrumb-item">@Html.ActionLink("Softwares", "IndexSoftwares", "Softwares")</li>
                                <li class="breadcrumb-item active" aria-current="page">CIS</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



