
@{
    ViewBag.Title = "GECIPA";
}

<div class="jumbotron">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <h5>Informações sobre o GECIPA</h5>
                </div>
                <div class="col-sm">
                    <div class="AlignRight">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="software.html">Software</a></li>
                                <li class="breadcrumb-item active" aria-current="page">GECIPA</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




