
@{
    ViewBag.Title = "Softwares";
}

<div class="jumbotron">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <h5>Veja informações sobre nossos softwares!</h5>
                </div>
                <div class="col-sm">
                    <div class="AlignRight">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"> @Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="breadcrumb-item active" aria-current="page">Softwares</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="border border-dark">
                    <img src="~/img/gcipa2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GECIPA</h5>
                        <p class="card-text">Softwares GECIPA</p>
                        @Html.ActionLink("Visite", "GECIPA", "Softwares", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="border border-dark">
                    <img src="~/img/gcipa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CIS</h5>
                        <p class="card-text">Softwares CIS</p>
                        @Html.ActionLink("Visite", "CIS", "Softwares", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="border border-dark">
                    <img src="~/img/gcipa2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GESTOR</h5>
                        <p class="card-text">Softwares GECIPA</p>
                        @Html.ActionLink("Visite", "GESTORSST", "Softwares", new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
